<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/projectManagementStyle.css">
    </head>
    <body>
        <nav class="header-navigation">
            <h1>{{title}}</h1>
            <h1 class="header-navigation-links">{{>links}}</h1>
        </nav>

        
        <script src="/js/client.js"></script>
    </body>
</html>