<div class="project-content">
    <h3 class="project-name">Stock Trader Software</h3>
    <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis velit inventore incidunt veritatis eligendi culpa maxime impedit fugit voluptates.</p>
    <button class="project-launch-button" type="submit">Launch</button>
</div>
